<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Lucas EVRARD, Alexia M'BOUMBA, Khoumba NDIAYE et  Benjamin DUROZELLE"/>
    <meta name="description"
          content=" Site web permettant aux étudiants d'avoir accès à une carte leur proposant des points d'intérêts utiles pour les aider durant leurs études."/>
    <meta name="keywords"
          content="carte, map, Amiens, restaurants, bibiliothèques, activités, parcs, étudiants, étude, CROUS, France, lieux, UPJV, Picardie, université, "/>
    <title>STUDEXPLORER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" type="image/ico" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    <nav>
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="{{ url_for('faq') }}">F.A.Q</a></li>
            <li><a href="{{ url_for('point') }}">Ajouter un point sur la carte</a></li>
            <li><a href="{{ url_for('application') }}">Téléchargez notre application !</a></li>
            <li><a href="{{ url_for('chatbot_en') }}" class="btn btn-primary">ENG</a></li>
            <li><a href="{{ url_for('chatbot_es') }}" class="btn btn-primary">ES</a></li>
        </ul>
    </nav>
</header>
<main>
    <div id="faq">
        <div class="faq-item">
            <h1 class="faq-question"> Qui sommes nous ? </h1>
            <div class="faq-answer">
                <p> Lucas EVRARD, Khoumba NDIAYE, Benjamin DUROZELLE, Alexia M'BOUMBA
                    Étudiants en Master 2 Management de l'innovation E-Business.
                <p>
            </div>
        </div>
        <div class="faq-item">
            <h1 class="faq-question"> Quel est le but de STUDEXPLORER ? </h1>
            <div class="faq-answer">
                <p> Le but d'ETUDEXPLORER est d'aider les étudiants à trouver des lieux qui pourraient les aider dans leurs
                    études ou les aider à se divertir même avec un petit budget.
                    La carte à pour but de vous montrer les endroits ou vous pourrez profiter de réduction étudiantes, de
                    petits prix ou des lieux gratuits pour vous divertir, acheter ce dont vous avez besoin et vous nourrir.
                    
                    Nous vous proposons aussi une suggestion automatique de lieux en fonction du type de lieux que vous recherchez
                    et la ville dans laquelle vous vous trouvez.
                <p>
            </div>
        </div>
        <div class="faq-item">
            <h1 class="faq-question"> Vous connaissez un point d'intérêt et voulez nous le proposer. </h1>
            <div class="faq-answer">
                <p> C'est très simple!<br>
                    Il suffit de cliquer <a href="point.html"><font color="#000000">ici</font> </a> pour nous envoyer vos
                    recomandations !
                    Envoyez nous les coordonées du point, un court texte nous expliquant en quoi ce point pourait nous
                    intéresser, nous l'analyserons et l'ajouterons à la carte s'il est accépté!
                <p>
            </div>
        </div>
        <div class="faq-item">
            <h1 class="faq-question"> Comment faire si tout les points ne s'affichent pas ? </h1>
            <div class="faq-answer">
                <p> Vérifier qu'il n'y ait pas de filtre actif sur la carte et recharger la page.
                    Si le problème periste toujours contactez nous par mail ou sur les réseaux.</p>
            </div>
        </div>
    </div>
</main>
<footer>
     <nav>
       <ul>
            <li><a href="https://www.instagram.com/studexplorer/" target="_blank"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram" width="25"></a></li>
        </ul>
    </nav>
    <p>
        Cliquez <a href="mailto:studexplorer@gmail.com" target="_blank"> <i>ici</i> </a> pour nous contacter
    </p>
    <p>
        Copyright © : Site Web fait par Khoumba NDIAYE, Benjamin DUROZELLE, Lucas EVRARD et Alexia M'BOUBA
    </p>
</footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const questions = document.querySelectorAll('.faq-question');

        questions.forEach(question => {
            question.addEventListener('click', () => {
                const answer = question.nextElementSibling;
                const arrow = question.querySelector('.arrow');

                answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
                question.classList.toggle('active');
            });
        });
    });

</script>
</html>