<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Khoumba NDIAYE"/>
    <meta name="description"content=" Site web permettant aux étudiants d'avoir accès à une carte leur proposant des points d'intérêts utiles pour les aider durant leurs études."/>
    <meta name="keywords" content="carte, map, Amiens, restaurants, bibiliothèques, activités, parcs, étudiants, étude, CROUS, France, lieux, UPJV, Picardie, université, "/>
    <title>STUDEXPLORER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" type="image/ico" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    <nav>
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="{{ url_for('faq') }}">F.A.Q</a></li>
            <li><a href="{{ url_for('point') }}">Ajouter un point sur la carte</a></li>
            <li><a href="{{ url_for('application') }}">Téléchargez notre application !</a></li>
            <li><a href="{{ url_for('chatbot_en') }}" class="btn btn-primary">ENG</a></li>
            <li><a href="{{ url_for('chatbot_es') }}" class="btn btn-primary">ES</a></li>
        </ul>
    </nav>
</header>
<main>
    <div id="container">
        <div id="map">
            <iframe src="https://www.google.com/maps/d/embed?mid=1mGUoh93Etgkm1itsEeXdfN0sJcniLYk" width="640"
                    height="500"></iframe>
        </div>
        <div id="text">
            <div class="text-div">
                <h2>Comment utiliser la carte ?</h2>
                <p>La carte vous indique différents points d'intérêts qui pourraient vous être utiles en tant
                    qu'étudiant.</p>
                <p>Vous avez accès à des filtres qui vous permettent d'afficher uniquement ce qui vous intéresse.</p>
                <p>Faites glisser vos deux doigts sur la carte pour zoomer et déplacer votre position, ou cliquez
                    simplement dessus sur les boutons + et -.</br>
                    Cliquer sur un point d'intérêt permet d'afficher toutes les informations sur ce dernier.</p>
            </div>
        </div>
    </div>
    <div class="chat-container">
    <form method="post" action="/index.html">
        <label for="user_input">Sélectionnez une option :</label>
        <button type="submit" name="user_input" value="Je cherche un lieu">Je cherche un lieu</button>
        <button type="submit" name="user_input" value="Je veux contacter tes créateurs">Je veux contacter tes créateurs</button>
        <button type="submit" name="user_input" value="Je veux reporter une erreur">Je veux reporter une erreur</button>
    </form>

    {% if show_text_input %}
        <form method="post" action="/index.html">
            <label for="city">Nom de la ville :</label>
            <input type="text" name="city" required>
            <button type="submit" name="user_input" value="etudier">Pour étudier pas cher</button>
            <button type="submit" name="user_input" value="fastfood">Pour manger pas cher</button>
            <button type="submit" name="user_input" value="divertissement">Pour se divertir pas cher</button>
            <button type="submit" name="user_input" value="sport">Pour faire du sport pas cher</button>
            <button type="submit" name="user_input" value="supermarches">Pour faire mes courses pas cher</button>
        </form>
    {% endif %}
    {% if recommendations %}
        <h2>Résultats :</h2>
        <ul>
            {% for place in recommendations %}
               <li>{{ place[0] }} - {{ place[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if contact_creators_text %}
        <h2>Contactez les créateurs :</h2>
        <p>{{ contact_creators_text }}</p>
    {% endif %}

    {% if report_error_text %}
         <h2>Reporter une erreur :</h2>
         <p>{{ report_error_text }}</p>
    {% endif %}
</div>

</main>
<footer>
     <nav>
       <ul>
            <li><a href="https://www.instagram.com/studexplorer/" target="_blank"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram" width="25"></a></li>
        </ul>
    </nav>
    <p>
        Cliquez <a href="mailto:studexplorer@gmail.com" target="_blank"> <i>ici</i> </a> pour nous contacter
    </p>
    <p>
        Copyright © : Site Web fait par Khoumba NDIAYE, Benjamin DUROZELLE, Lucas EVRARD et Alexia M'BOUBA
    </p>
</footer>
</body>
</html>