<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Lucas EVRARD, Alexia M'BOUMBA, Khoumba NDIAYE et  Benjamin DUROZELLE"/>
    <meta name="description"
          content=" Site web permettant aux étudiants d'avoir accès à une carte leur proposant des points d'intérêts utiles pour les aider durant leurs études."/>
    <meta name="keywords"
          content="carte, map, Amiens, restaurants, bibiliothèques, activités, parcs, étudiants, étude, CROUS, France, lieux, UPJV, Picardie, université, "/>
    <title>STUDEXPLORER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" type="image/ico" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    <nav>
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="{{ url_for('faq') }}">F.A.Q</a></li>
            <li><a href="{{ url_for('point') }}">Ajouter un point sur la carte</a></li>
            <li><a href="{{ url_for('application') }}">Téléchargez notre application !</a></li>
            <li><a href="{{ url_for('chatbot_en') }}" class="btn btn-primary">ENG</a></li>
            <li><a href="{{ url_for('chatbot_es') }}" class="btn btn-primary">ES</a></li>
        </ul>
    </nav>
</header>
<main>
    <div id="container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfw9iAHLhvQJYE9SpU66GLsP-PDlUlOaPUyMcxoVAPiQxs36g/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
    </div>
</main>
<footer>
     <nav>
       <ul>
            <li><a href="https://www.instagram.com/studexplorer/" target="_blank"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram" width="25"></a></li>
        </ul>
    </nav>
    <p>
        Cliquez <a href="mailto:studexplorer@gmail.com" target="_blank"> <i>ici</i> </a> pour nous contacter
    </p>
    <p>
        Copyright © : Site Web fait par Khoumba NDIAYE, Benjamin DUROZELLE, Lucas EVRARD et Alexia M'BOUBA
    </p>
</footer>
</body>
</html>