body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/static/images/amiensdesigntest.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.chat-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.chat-container label {
    display: block;
    margin-bottom: 10px;
}

.chat-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chat-container button {
    background-color: #75b3f0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-container button:hover {
    background-color: #027df5;
}

.chat-container ul {
    list-style-type: none;
    padding: 0;
}

.chat-container li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: #FEAA3E;
    text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #FFF;
  padding: 20px;
  min-height: 50px;
}

header img {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 100px;
  margin-right: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #1DA1F2;
  text-decoration: none;
}


main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex:1;
}

#container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

#map {
  flex: 1; /
  max-width: 640px;
}

/* Assure que la mise en page reste réactive */
@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  #map, #text {
    max-width: 100%;
  }
}


iframe {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

iframe:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


#text {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  flex: 1;
}

.text-div h2 {
  color: #333;
  margin-bottom: 15px;
}

.text-div p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 10px;
}

article {
  margin-bottom: 20px;
}

article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

article h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

article ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin: 0 10px;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer nav ul li a:hover {
  color: #007bff;
}

footer p {
  margin: 10px 0;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#faq {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 20px;
  padding: 10px;
}

.faq-item {
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
}

.faq-question {
  cursor: pointer;
  position: relative;
  padding-right: 30px;
}

.faq-question .arrow {
  position: absolute;
  right: 0;
  transition: transform 0.3s ease;
}


.faq-question.active .arrow {
  transform: rotate(-180deg);
}

.faq-answer {
  display: none;
  padding: 10px 0;
}


#app .text-div {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  text-align: center;
}

#app h1 {
  color: #333;
  margin-bottom: 15px;
}

#app p {
  color: #555;
  font-size: 1.1rem;
  line-height: 1.6;
}

#app a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#app a:hover {
  color: #0056b3;
  text-decoration: underline;
}

